{% extends "base.html" %}

{% block title %}Books - My Library{% endblock %}

{% block content %}
<section class="books-section">
    <h2>Books Collection</h2>
    <table class="books-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Publishing Date</th>
            </tr>
        </thead>
        <tbody id="books-table-body">
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.publisher }}</td>
                <td>{{ book.publishing_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}